PUBLIC_SUPABASE_URL=https://aempbdtwuibmaxokukpf.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlbXBiZHR3dWlibWF4b2t1a3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NzA2MjgsImV4cCI6MjA4ODU0NjYyOH0.msDhJO_uf4YbU-bd3sFd5IPr9-dw6awQXxoS-x-sPsk
PUBLIC_PAYLOAD_URL=https://bloghaider-1.onrender.com

DATABASE_URL=postgresql://postgres:Tuelha1518%40@db.aempbdtwuibmaxokukpf.supabase.co:5432/postgres